#details-page {
  #details-head {
    padding: 100px 0;
    background-color: #f8f9fa;
    width: 100%;
    .header {
      display: flex;
      justify-content: center;
      margin: 130px 0;
      .head {
        h1 {
          text-align: center;
          letter-spacing: 0.5px;
          font-size: 28px;
          line-height: 1.5;
          font-weight: 600;
          color: #212529;
        }
        p {
          text-align: center;
          color: #8492a6;
          max-width: 600px;
          font-size: 15px;
          line-height: 1.6;
          margin-top: 20px;
        }
        .links {
          display: flex;
          justify-content: center;
          column-gap: 15px;
          margin-top: 40px;
          span {
            display: flex;
            align-items: center;
            column-gap: 10px;
            a {
              color: #212529;
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 1px;
              transition: all 0.5s;
              &.active {
                color: #396cf0;
              }
              &:hover {
                color: #396cf0;
              }
            }
            .antd-icon {
              font-size: 8px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  #doctor-details {
    padding: 60px 0;
    .doctor-details {
      display: flex;
      column-gap: 80px;
      align-items: center;
      width: 100%;
      .img {
        width: 50%;
        img {
          border-radius: 50%;
          width: 400px;
        }
      }
      .about-doctor {
        width: 50%;
        .about {
          width: 100%;
          display: flex;
          align-items: center;
          margin-top: 15px;
          h3 {
            color: #396cf0;
            letter-spacing: 0.5px;
            font-size: 28px;
            line-height: 1.5;
            font-weight: 600;
          }
          span {
            width: 35%;
            font-weight: 700;
            color: #212529;
            letter-spacing: 0.5px;
          }
          p {
            width: 65%;
            color: #8492a6;
            letter-spacing: 0.5px;
            font-weight: 600;
          }
        }
        .btn {
          display: flex;
          align-items: center;
          column-gap: 30px;
          margin-top: 30px;
          // width: 100%;
          button {
            padding: 10px 20px;
            outline: 0;
            // width: 50%;
            cursor: pointer;
            font-size: 15px;
            letter-spacing: 0.5px;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
            border-radius: 5px;
            background-color: rgba(57, 108, 240, 0.1);
            border: 1px solid rgba(57, 108, 240, 0.1);
            color: #396cf0;
            -webkit-box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
            box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
            font-size: 15px;
            &:hover {
              background-color: #305ccc;
              color: #fff;
            }
            &:disabled {
              border: 1px solid rgba(45, 45, 46, 0.1);
              background-color: rgba(189, 190, 192, 0.322);
              box-shadow: 0;
            }
          }
        }
        .star {
          margin-bottom: 25px;
          .star-icon {
            .fa-sharp {
              color: #f1b561;
              margin-right: 8px;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
